.register-content {
  background: #000;
  width: 1366px;
  height: 768px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;

  align-items: center;
  /* width: 588px;
  height: 688px; */
  background: #fff;
}

h2 {
  letter-spacing: 0px;
  color: #000000;
  text-transform: capitalize;
  font-family: "Poppins";
  font-size: 48px;
  margin-top: 33px;
}

.input-name {
  outline: none;

  width: 487px;
  height: 76px;
  font-size: 22px;
  background-color:#E6EBFF;
  margin-top: 16px;
  border-style: none;
}



.input-name::placeholder {

  opacity: 0.2;
  color: #000000;
  padding: 24px 23px 22px;
}


.input-labelName {
  font-family: "Poppins";
  font-size: 22px;
  letter-spacing: 0px;
  color: #000000;
  text-transform: lowercase;
  margin-top: 53px;
}

.btn-signin {
  width: 258px;
  height: 66px;

  background: #5efc8d;
  color: #000;
  font-size: 32px;
  font-family: "Poppins";
  margin-top: 76px;
  cursor: pointer;
  border-style: none;
}

.input-labelPhoto {
  position: relative;
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background: #e6ebff;
  cursor: pointer;
  margin-top: 10px;
}

.input-file {
  visibility: hidden;
  display: none;
}

.uploadphoto {
  display: flex;
  position: absolute;
  right: 40px;
  top: 35px;
}

p {
  font-family: "Poppins";
  font-size: 22px;
  margin-top: 44px;
}
